* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
body {
  text-align: center;
}
.dark {
   background: #000000;

  color: aliceblue;
}
.light {
  background: white;
  color: black;
}
#btn {
  margin: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 2rem;
}
.container {
  height: 70vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 70vmin;
  width: 70vmin;
  background-color: #6E2594;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  background-color: #ECD444;
  border-radius: 10px;
  font-size: 10vmin;
  font-family: "poppins";
  color: rgb(255, 0, 89);
}
#resetbtn {
  margin: 6vmin;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 2.5rem;
}
#newbtn {
  margin: 2vmin;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  border-radius: 2.5rem;
}
.msg-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.msg {
  padding: 2vmin;
  font-size: 1.5rem;
}
.hide {
  display: none;
}
